*{
    margin: 0;
    padding: 0;
    

}
header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
}
h1{
    padding-left: 50px;
}
.nav{
    display: flex;
    list-style: none;
}
li{
    margin: 0 20px;
}
